@{
    ViewBag.Title = "About";
}

    <h2>About myself</h2>
    <br />
    <h3>
    
    <img src="~/Content/Images/self1.jpg" alt="Self Portrait" title="Mark Del Castillo"  />
    

    </h3>
    
    
    <div id="AboutMe">
    <h3><b><i><u>Education</u></i></b></h3>
    <ul>
        <li>2013, BA, MIS, California State University of Long Beach</li>
        <li>1995, Computer Science, California State University of Los Angeles</li>
    </ul>

    <h3><b><i><u>Working experience</u></i></b></h3>
    <ol>
        <li>Network Administrator, CMTC, 9 years</li>
        <li>Network Administrator, Busak & Shambam, 3 years</li>
        <li>System Administrator, Camfil Farr, 3 years</li>
        <li>Technical Support Advisor, Microtek, 3 years</li>
        <li>Computer Lab Consultant, CSULB, 2 years</li>
    </ol>

    <h3><b><i><u>Expectation for this course</u></i></b></h3>

    <p>I'd like to learn to setup webpage, relevant web programming components, Demonstration and explanations of codes and usages, helpful hints and tips to work faster and more efficient.</p>
    </div>
